.star {
  z-index: 999;
}

.celestial {
  z-index: 99;
}

.orbit {
  stroke-width: 1px;
  stroke: #FAFAFA;
  stroke-dasharray: 12;
  fill: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin-backward {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
